<ion-content [fullscreen]="true">
  <div class="container">
    <div class="ion-icon">
      <ion-icon name="layers-outline" />
    </div>
    <h1>Introduzca el libro que desea</h1>
    <form [formGroup]="formSearch">
      <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" formControlName="title">
      </div>
      <div class="form-group">
        <button (click)="searchBook()">Buscar</button>
      </div>
    </form>
  </div>
  <div class="container-db">
    <app-table-db [book]="book" />
  </div>
</ion-content>
