<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLinkActive]="'selected'" [routerLink]="['/registro']">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Registrar Libro</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLinkActive]="'selected'" [routerLink]="['/buscar-libro']">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-label>Seleccionar Libro</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLinkActive]="'selected'" [routerLink]="['/eliminar-libro']">
      <ion-icon name="trash-outline"></ion-icon>
      <ion-label>Eliminar Libro</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>