<ion-content>
  <div class="container">
    <div class="ion-icon">
      <ion-icon name="layers-outline" />
    </div>
    <h1>Registro de Libros</h1>
    <form [formGroup]="formBooks">
      <div class="form-group">
        <label>ISBN:</label>
        <input formControlName="isbn" type="text">
      </div>
      <div class="form-group">
        <label>Título:</label>
        <input formControlName="titulo" type="text">
      </div>
      <div class="form-group">
        <label>Autor:</label>
        <input formControlName="autor" type="text">
      </div>
      <div class="form-group">
        <label>Categoría:</label>
        <input formControlName="categoria" type="text">
      </div>
      <div class="form-group">
        <label>Editorial:</label>
        <input formControlName="editorial" type="text">
      </div>
      <div class="form-group">
        <label>Páginas:</label>
        <input formControlName="paginas" type="number">
      </div>
      <div [class.active]="inputActive" class="form-group">
        <button (click)="showObjectRegister()">Registrar</button>
      </div>
    </form>
  </div>
  <div class="container-db">
    <app-table-db [books]="books" />
  </div>
</ion-content>